body{
  background: -moz-linear-gradient(top, #FF8A8A 0%, #663333 70%);
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8A8A), to(#663333));
}
#container{
  width: 100%;
  height:auto;
}
#out-wraper{
  width:960px;
  margin:auto;
}
.clear{
  clear:both;
}
#header {
  height: 80px;
}
#shadow{
  text-shadow: 2px 2px 7px #111;
  font-size: 3.3em;
  color: #cc6633;
}
#header h7{
  font-size: 17px; 
  color: #FFFFFF;
}

#first_nav {
  height: 35px;
  margin: 30px 0px 30px 0px;
  background-color: #D20000;
  text-align: center;
  border:0px solid #B05F3C;
  border-radius:25px;
  }
#first_nav ul {
  display: inline;
  padding: 15px 0px 17px 0px;
}
#first_nav ul li {
  font: bold 12px/18px sans-serif;
  color:#FFF;
  height:22px;
  display: inline-block;
  position: relative;
  padding: 7px 50px;
  cursor: pointer;
}
#first_nav ul li a{
  color:#FFF;
  text-decoration:none;
}
#first_nav ul li:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #AE0000;
  transition: all 0.7s;
}
#first_nav ul li ul {
  position: absolute;
  top: 33px; 
  left:0;
  max-height:0em;
  margin:0; 
  padding:0;
  background:#ff2bf3;
  overflow:hidden;
  transition: 0.5s ease-in-out;
}
#first_nav ul li ul li { 
  background: #D20000; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  transition: all 1s;  
}
#first_nav ul li ul li:hover {
 background: #AE0000; 
}
#first_nav ul li:hover ul {
  max-height:20em;
  display: block;
  opacity: 1;
  visibility: visible;
  border-radius:10px;
}
.content{
  width:auto;
  margin: 10px 0px 0px 0px;
}
.left_content{
  width:68%;
  float:left;
}
article {
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 20px 0px;
  background-color: #F2E4D5;
  font-size:17x;
  border:0px solid #F2E4D5;
  border-radius:25px;
}
header{
  margin: 10px 10px 10px 10px;
  padding: 7px 0px 7px 0px;
  background-color: #2DC800;
  border-radius:10px;
}
.date_section{
  float: left;
  width: 12%;
  margin: -7px 0px 0px 0px;
  padding: 0px 0px 2px 0px;
  background-color: #006600;
  font-size:17px;
  text-align: left;
  color: #FFFFFF;
  border-radius:10px 0px 0px 10px;
}
.year{
  float: left;
  width: 30%;
  text-align: center;
  font-size: 15px;
  margin: 15px 0px 0px 0px;
  color: #FFFFFF;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg) ; 
  -moz-transform: rotate(270deg) ; 
  -webkit-transform: rotate(270deg) ; 
  -o-transform: rotate(270deg) ;
}
.date{
  width:auto;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
}
.month{
  width:auto;
  text-align: center;
  font-size: 15px;
  color: #FFFFFF;
}
.title_article{
  padding: 0px 0px 1px 90px;
  background-color: #2DC800;
  color: #FFFFFF;
  font-size:24px;
  border-radius:10px;
}
.comment{
  float: right;
  width: 10%;
  margin: -36px 0px 0px 0px;
  padding: 13px 0px 10px 0px;
  background-color: #006600;
  font-size:17px;
  text-align: center;
  color: #FFFFFF;
  border-radius:10px;
}
.content p{
  text-align: left;
  margin: 17px 17px 17px 17px  ;
  padding: 2px 2px 2px 2px;
  text-align:justify;
}
.writer{
  text-align: left;
  margin: 17px 0px 0px 17px  ;
  text-align:justify;
  font-style:italic;
}
.by{
  font-weight:bold;
  font-style:normal;
}
.tag{
  text-align: left;
  margin: 0px 0px 17px 17px  ;
  text-align:justify;
  font-style:italic;
}
.tag a{
  font-style:normal;
  text-decoration:none;	
  color: red;
  padding: 3px 4px 3px 4px;
  transition:background 0.5s;
}
.tag a:hover{
  color: #D20000;
  padding: 3px 4px 3px 4px;
  background-color: #330066;
}
.more{
  float: right;
  width: 25%;
  margin:-60px 15px 0px 0px;
  background-color: #D20000;
  padding: 11px 11px 11px 0px;
  text-align: right;
  font-size:17x;
  color: #FFFFFF;
  border-radius:10px;
  transition:width 0.2s;
}
.more a{
  float: right;
  padding: 0px 10px 0px 0px;
  color:#FFF;
  text-decoration:none;
}
.more1{
  float: left;
  width: 10%;
  height: 42px;
  margin: -11px 0px -11px 0px;
  color: #F2E4D5;
  background-color: #F2E4D5;
  text-align: center;
  border-radius:0px 10px 10px 0px;
}
.more:hover{
  float: right;
  width: 22%;
  padding: 11px 11px 11px 0px;
  font-size:17x;
  text-align: right;
  border-radius:10px;  
}
.right_aside{
  width:30%;
  float:right;
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 20px 0px;
  background-color: #F2E4D5;
  font-size:17x;
  border:0px solid #F2E4D5;
  border-radius:25px;
}
.right_aside header{
  padding: 0px 0px 1px 15px;
  background-color: #2DC800;
  color: #FFFFFF;
  font-size:20px;
  border-radius:10px;
}
.twitter {
  margin: 0px 10px 0px 10px;
  background-color: #FFF;
  border-radius:5px;
}
.twitter span{
  float: left;
  text-align:center;
  color:#FFF;
  width: 20%;
  background-color: #A5DBEB;
  font-size:17x;
  border-radius:5px;
}
.twitter a{
   color: red;
   text-decoration: none;
   margin-left: 15px;
   transition:margin 0.2s;
}
.twitter a:hover{
   color: red;
   text-decoration: underline;
   margin-left:15px;
}
.rss {
  margin: 5px 10px 0px 10px;
  background-color: #FFF;
  border-radius:5px;
}
.rss span{
  float: left;
  text-align:center;
  color:#FFF;
  width: 20%;
  background-color: #FF7575;
  font-size:17x;
  border-radius:5px;
}
.rss a{
  color: red;
  text-decoration: none;
  margin-left: 15px;
  transition:margin 0.2s;
}
.rss a:hover{
  color: red;
  text-decoration: underline;
  margin-left:15px;
}
.right_aside a{
  color: red;
  text-decoration: none;
  margin-left: 15px;
  transition:margin 0.2s;
}
hr{
  margin: 0px 15px 3px 15px;
}
.right_aside a:hover{
  color: blue;
  margin-left: 20px;
}
#bubble {
  width: 100%;
  margin: 15px 0px 10px 0px;
  height: 120px;
}
#bubble a{
  color:#FFF;
  margin: 0px;
}
#bubble a:hover{
  color:#FFF;
  margin: 0px;
}
#bubble_effect{
  position:relative;
  padding:15px;
  margin:15px 15px 30px 15px;
  color:#000;
  text-align: center;
  background:#2DC800;
  font-size: 20px;
  color: #FFFFFF;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background:-moz-linear-gradient(top, #2DC800, #2DC800);
  background:linear-gradient(top, #2DC800, #2DC800);
  transition:margin 0.2s;
}
#bubble_effect:hover{
  padding: 17px;
  margin:13px 13px 33px 13px;
}
#bubble_effect:before {
  content: "";
  display:block;
  position: absolute;
  bottom: -30px;
  right: 60%;
  height: 28px;
  border-right: 60px solid #2DC800;
  background: #2DC800;
  -webkit-border-bottom-right-radius: 80px 50px;
  -moz-border-radius-bottomright: 80px 50px;
  border-bottom-right-radius: 80px 50px;
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
#bubble_effect:after {
  content: "";
  display:block;
  position: absolute;
  bottom: -30px;
  right: 60%;
  width: 60px;
  height: 28px;
  background: #F2E4D5;
  -webkit-border-bottom-right-radius: 40px 50px;
  -moz-border-radius-bottomright: 40px 50px;
  border-bottom-right-radius: 40px 50px;
  -webkit-transform: translate(-30px, -2px);
  -moz-transform: translate(-30px, -2px);
  -ms-transform: translate(-30px, -2px);
  -o-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}
#footer{
  width:960px;
  margin:auto;
}
.content_footer {
  float: left;
  width: 31%;
  height: auto;
  margin: 20px 20px 15px 0px;
  padding: 5px 0px 15px 0px;
  background-color: #F2E4D5;
  font-size:17x;
  border:0px solid #F2E4D5;
  border-radius:25px;
  word-wrap:break-word;
}
.content_footer a{
  margin: 15px 15px 17px 15px  ;
  width: 85%;
  padding: 2px 3px 2px 0px;
  color: red;
  word-wrap:break-word;
  text-decoration: none;
  transition:margin 0.2s; 
}
.content_footer a:hover{
  color: blue;
  margin: 15px 15px 17px 20px  ;
  width: 85%;
  padding: 2px 3px 2px 0px;
  word-wrap:break-word;
}
.title_footer{
  margin: 15px 15px 17px 15px  ;
  width: 85%;
  background-color: #2DC800;
  color: #FFFFFF;
  padding: 2px 3px 2px 10px;
  font-size:17x;
  border-radius:10px;
}
.autor{
  padding-top: 8px;
  margin-right: 15px;
  text-align: right;
  font-size: 14px;
}
.about_site{
  margin: 15px 15px 17px 15px  ;
  width: 85%;
  padding: 2px 3px 2px 10px;
}
#copyright{
  float: right;
  margin: 0px 250px 0px 0px;
  width: auto;
  height: 80px;
  text-align: center;
}