.container{
    width:950px;
    margin:0 auto;
}
a {
    text-decoration:none;
    color: blue;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
.header{
    height: 100px;
    margin-top: 10px;
}

#header_kiri{
    float: left;
    width: 560px;
    margin-left: 10px;
    margin-top: 5px;
}

#header_kanan{
    float: left;
    width: 380px;
    height: 40px;
}

#isiheaderkanan{
    float:right;
    background:#0A0A0A;
    display:block;
    color:#FFF;
    padding:5px 10px;
    margin-top:30px;  
}

.floating_left{
    float: left;
}
.floating_rigth{
    float: right;
}

.menu{
    background:#F8F8F8;
    border:1px solid #ccc; 
    padding:10px;
}

.menu li {
    display:inline-block;
    padding:2px 30px;
    border-right: solid 2px #ccc;
}
.menu li:last-child {
    border: 0px;
    padding-top: 0px;
}
.menu li a {
    color:#000;
}
.menu li a:hover {
    color:#2CBBD1;
}

.content{

}

.sidebarkotak{
    width: 250px;
    float:left;
}

#sidebar h4, #category h4, #latest_article h4{
    padding:2px;
    text-align:center;
    background:#F8F8F8;
    border:1px solid #CCC;
    margin:10px 0 10px 0;
}

#loginContainer {
    border:1px solid #CCC;
    margin-top: 10px;
    padding:2px 0 0 10px;
}

#category li {
    padding:2px 0;
}
#category ul  ul li {
    padding-left:25px;
}
#category li span {
    display:block;
    padding-left:20px;
    background: url('../images/arrow-right.png') no-repeat;
}
#category ul ul li, #category li span {
    border-bottom:2px dotted #000;
}
#category li a:hover{
    color: red;
}

.detail_content {
    width: 680px;
    float:left;
    margin:15px 0 0 20px;
}

.hidup{
    color:#2CBBD1;
}

.title{
    font-weight: bold;
}

#about{
    text-align: justify;
}
.row{
    
}
.btn{
    background:#2CBBD1;
    padding:5px;
    color:#FFF;
    font-size: 12px;
}
.btn:hover{
    color:#000;
}

.clear{clear:both}
#featured{
    margin-top:20px;
}
#featured li {
    border:1px solid #CCC;
    float:left;
    width:150px;
    margin-right:9px;
    padding:3px;
    margin-bottom:10px;
}
.product_detail {
    margin-top:40px;
}
.product_detail span {
    display:block;
}

#latest_article ul{
    border:1px solid #CCC;
    padding: 2px 0 5px 0;
}
#latest_article ul li{
    border-bottom: 2px dotted #000; 
}

#latest_article a{
    text-decoration: underline;
}
#footer{
    margin-top: 20px;
}
.fmenu{
    background: #1F1F1F;
}
.fmenu li{
    padding: 0 60px;
    border-right: solid 2px #FFF;
}
.fmenu li a{
    color: #FFF;
}
#footer .hidup{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}