.box {
  margin-bottom: 20px;
}
.img-logo{
  margin-bottom: 7px;
  padding-right:5px;
  width: 225px;
  height: 150px;
}
.menu {
  float: right;
  margin-top: 110px;
  font-size:20px;
  text-align: right;
}
.menu a{
  text-decoration: none;
}
.menu ul {
  text-align: right;
  display: inline;
  margin: 0;
  list-style: none;  
}
.menu ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  cursor: pointer;
  padding:0px 40px 0px 10px;
  border-right: solid 2px #ccc;
}
.menu li:last-child {
 border: 0px;
 padding-top: 0px;
}
.menu ul li:hover {
  background: #000;
  color: #fff;
  transition: all 0.2s;
}
.img-article{
 float: left;
 margin: 1px 8px 7px 9px;
 padding-right:5px;
 width: 100px;
 height: 100px;
}
.img-banner{
  float: right;
  margin: 1px 40px 8px 40px;
  width: 225px;
  height: 150px;
}
.title_article{
  font-size: 2.2em;
  margin-left: 8px;
}
.date_article{
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  margin-left: 8px;
}
.content{
  margin-left: 8px;
  text-align:left;
}
.show_more{
  padding: 5px 8px 5px 0px;
  text-align: right;
  margin: 10px 0px 10px 0px;
  background-color: #000000;
  text-decoration: none;
  width: 99%;
}
.show_more a{
  padding: 5px 8px 5px 0px;
  text-align: right;
  margin: 10px 0px 10px 0px;
  background-color: #000000;
  text-decoration: none;
  width: 99%;
  color: #999;
}
.show_more a:hover{
  color: #666;
}
.list_article{
  margin-left: 8px;
  font-weight: bold;
} 
.title_event{
  font-size: 2em;
  margin-left: 8px;
}
.date_event{
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  margin: 0px 0px 3px 8px;
}
.show_more2{
  text-align: right;
  margin-top: 10px;
  width: 99%;
  text-decoration: none;
}
.show_more2 a{
  color: #666;
  text-decoration: none;
}
.show_more2 a:hover{
  color: #333;
}
.menu_footer {
  float: right;
  font-size:20px;
  text-align: right;
}
.menu_footer a{
  text-decoration: none;
}
.menu_footer ul {
  text-align: right;
  display: inline;
  margin: 0;
  list-style: none;  
}
.menu_footer ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  cursor: pointer;
  padding:0px 40px 0px 10px;
  border-right: solid 2px #ccc;
}
.menu_footer li:last-child {
 border: 0px;
 padding-top: 0px;
}
.menu_footer ul li:hover {
  background: #000;
  color: #fff;
  transition: all 0.2s;
}
#copyright{
  font-size: 1em;
}